.container {
    width: 700px;
    margin: 80px auto;
    padding: 20px;
}

@media (max-width: 960px) {
   .container {
   	max-width: 90%;
   }
}

@media (max-width: 720px) {
   .container {
     max-width: 85%;
   }
}

@media (max-width: 540px) {
   .container {
     max-width: 90%;
   }
}